* {
  margin: 0;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
  border: 0;
}
html,
body {
  background: #000;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* TODO: remove width, height and translate definitions from here */

.tile {
  display: block;
  overflow: hidden;
  position: absolute;
  height: 32px;
  width: 32px;
  text-decoration: underline;

  -webkit-transform-origin: 0 0;
}
.floor {
  -webkit-transform: rotate(45deg) skew(-22.5deg, -22.5deg);
     -moz-transform: rotate(45deg) skew(-22.5deg, -22.5deg);
      -ms-transform: rotate(45deg) skew(-22.5deg, -22.5deg);
       -o-transform: rotate(45deg) skew(-22.5deg, -22.5deg);
          transform: rotate(45deg) skew(-22.5deg, -22.5deg);

y  -webkit-transform: rotateX(-45deg) rotateY(-45deg);
}

.right-wall {
  -webkit-transform: rotate(0deg) skew(0deg, 22.5deg) translate(0, -32px);
     -moz-transform: rotate(0deg) skew(0deg, 22.5deg) translate(0, -32px);
      -ms-transform: rotate(0deg) skew(0deg, 22.5deg) translate(0, -32px);
       -o-transform: rotate(0deg) skew(0deg, 22.5deg) translate(0, -32px);
          transform: rotate(0deg) skew(0deg, 22.5deg) translate(0, -32px);
}

.left-wall {
  -webkit-transform: rotate(0deg) skew(0deg, -22.5deg) translate(-32px, -32px);
     -moz-transform: rotate(0deg) skew(0deg, -22.5deg) translate(-32px, -32px);
      -ms-transform: rotate(0deg) skew(0deg, -22.5deg) translate(-32px, -32px);
       -o-transform: rotate(0deg) skew(0deg, -22.5deg) translate(-32px, -32px);
          transform: rotate(0deg) skew(0deg, -22.5deg) translate(-32px, -32px);
}

.person {
  position: absolute;
  display: block;
  background: red;
  width: 24px;
  height: 32px;

  -webkit-transform: translate(-12px, -16px);
     -moz-transform: translate(-12px, -16px);
      -ms-transform: translate(-12px, -16px);
       -o-transform: translate(-12px, -16px);
          transform: translate(-12px, -16px);
}
